<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>
 braintree.setup(gon.client_token, 'dropin', { container: 'dropin_monthly', form: 'dropin_monthly' });
 braintree.setup(gon.client_token, 'dropin', { container: 'dropin_annual', form: 'dropin_annual' });
</script>

<div>
  <h2>All Subscriptions</h2>

  <% @subscriptions.each do |subscription| %>
    <%= subscription.name %>
    <%= subscription.amount %>
  <% end %>

  <h3> Subscribe to a plan </h3>

  <div class="form-container">
    <%= form_tag subscriptions_subscribe_path, method: :post, id: 'dropin_monthly' do %>
      <p>Please enter your payment details:</p>
      <div id="dropin_monthly"></div>
      <%= hidden_field_tag :plan_id, 'monthly' %>
      <%= submit_tag "Subscribe to monhtly plan - $10", class: "btn btn-large" %>
    <% end %>
  </div>

  <div class="form-container">
    <%= form_tag subscriptions_subscribe_path, method: :post, id: 'dropin_annual' do %>
      <p>Please enter your payment details:</p>
      <%= hidden_field_tag :plan_id, 'annual' %>
      <div id="dropin_annual"></div>
      <%= submit_tag "Subscribe to annual plan - $200", class: "btn" %>
    <% end %>
  </div>
</div>
