<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>
 braintree.setup(gon.client_token, 'dropin', { container: 'dropin', form: 'buy_product_form' });
</script>
<div>
  <h1><%= @product.name %></h1>
  <div>
    <img src="<%= @product.image_url %>" width="100" height="100" />
  </div>
  <b>$<%= @product.amount %></b>

  <div class="form-container">
    <h2>Checkout</h2>
    <%= form_tag products_buy_path, id: 'buy_product_form' do%>
      <%= hidden_field_tag :amount, @product.amount %>
      <p>Please enter your payment details:</p>
      <div id="dropin"></div>
      <%=submit_tag "Pay #{@product.amount}$", class: "btn" %>
    <%end%>
  </div>
</div>

